[Link to colab](https://colab.research.google.com/github/lsmin0152/cheb301/blob/main/notebooks/CHEB301_F25_01_python_basics.ipynb#scrollTo=o2m9o7IZBn75)
# Python Crash Course

Some of you might have only little experience with Python. This introductory tutorial will help you to get started.

## Introduction to Python

If you have not too much experience with Python programming, we strongly recommend to go through some online tutorials, such as the ones from [Kaggle Learn](https://www.kaggle.com/learn). This will help you to get started. Here is just a brief overview of the basic concepts.

### Variables

Variables are used to store values in a program. You can assign values to variables using the `=` operator. For example (you can run it using `SHIFT + ENTER` or clicking on `Run`):

In [ ]:
x = 5 # assign 5 to the variable x
y = 10 # assign 10 to the variable y
z = x + y # add x and y, and assign the value to z
print(z) # Output: 15

15

### Data Types

Python has several built-in data types, including numbers (integer, float), strings, lists, tuples, and dictionaries. For example:

In [ ]:
# Numbers
x = 5
y = 5.5

# Strings
name = "Nix Po"

# Lists
fruits = ["apple", "banana", "cherry"]

# Tuples
person = ("Nix", "Po", 30)

print(person)
print(person[0])

# Dictionaries
person = {
    "first_name": "Nix",
    "last_name": "Po",
    "age": 8
}

print(person)
print(person['first_name'])

('Nix', 'Po', 30)
Nix
{'first_name': 'Nix', 'last_name': 'Po', 'age': 8}
Nix

### Operators
Python supports several types of operators, including arithmetic, comparison, and assignment operators. For example:

In [ ]:
# Arithmetic
x = 5
y = 3
z = x + y
print(z) # Output: 8

# Comparison
x = 5
y = 3
print(x > y) # Output: True

# Assignment
x = 5
x += 3
print(x) # Output: 8

8
True
8

### Conditional Statements
Conditional statements allow you to control the flow of a program based on certain conditions. You can play around by changing the value of `x`.

In [ ]:
x = 5
if x > 10:
    print("x is greater than 10")
else:
    print("x is less than or equal to 10")

x is less than or equal to 10

### Loops
Loops allow you to repeat a block of code multiple times. There are two types of loops in Python: `for` and `while` loops.

In [ ]:
# For Loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

# Output:
# apple
# banana
# cherry

apple
banana
cherry

In [ ]:
# While Loop
x = 0
while x < 5:
    print(x)
    x += 1

# Output:
# 0
# 1
# 2
# 3
# 4

0
1
2
3
4

### Functions
Functions are reusable blocks of code that perform a specific task. You can define functions using the `def` keyword.

In [ ]:
def greet(name):
    print("Hello, " + name)

greet("Ponix") # Output: Hello, Ponix

Hello, Ponix

## Additional examples

You can copy any of that code to make it run in a `code` cell.

### Numbers

```python
# Addition
x = 5
y = 10
z = x + y
print(z) # Output: 15

# Subtraction
x = 15
y = 10
z = x - y
print(z) # Output: 5

# Multiplication
x = 5
y = 10
z = x * y
print(z) # Output: 50

# Division
x = 15
y = 10
z = x / y
print(z) # Output: 1.5

# Modulo
x = 15
y = 10
z = x % y
print(z) # Output: 5

# Exponentiation
x = 5
y = 2
z = x ** y
print(z) # Output: 25
```

Just create a `code` cell below to run selected examples.

### Strings

```python
first_name = "Nix"
last_name = "Po"
full_name = first_name + " " + last_name
print(full_name) # Output: Po nix

# Repetition
x = "hello"
y = x * 3
print(y) # Output: hellohellohello

# Indexing
x = "hello"
print(x[0]) # First element -> Output: h
print(x[-1]) # Last element -> Output: o

# Slicing
x = "hello"
print(x[1:4]) # Output: ell
print(x[:3]) # Output: hel
print(x[1:]) # Output: ello

# Membership
x = "hello"
print("h" in x) # Output: True
print("z" in x) # Output: False
```

### Lists

```python
# Indexing
fruits = ["apple", "banana", "cherry"]
print(fruits[0]) # Output: apple
print(fruits[-1]) # Output: cherry

# Slicing
fruits = ["apple", "banana", "cherry"]
print(fruits[1:3]) # Output: ['banana', 'cherry']

# Membership
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits) # Output: True
print("orange" in fruits) # Output: False

# Length
fruits = ["apple", "banana", "cherry"]
print(len(fruits)) # Output: 3

# Append
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits) # Output: ['apple', 'banana', 'cherry', 'orange']

# Insert
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "orange")
print(fruits) # Output: ['apple', 'orange', 'banana', 'cherry']

# Remove
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits) # Output: ['apple', 'cherry']

# Pop
fruits = ["apple", "banana", "cherry"]
x = fruits.pop()
print(x) # Output: cherry
print(fruits) # Output: ['apple', 'banana']
```

### Tuples
```python
# Indexing
person = ("Nix", "Po", 30)
print(person[0]) # Output: Nix
print(person[-1]) # Output: 30

# Slicing
person = ("Nix", "Po", 30)
print(person[1:3]) # Output: ('Po', 30)

# Membership
person = ("Nix", "Po", 30)
print("Nix" in person) # Output: True
print("John" in person) # Output: False

# Length
person = ("Nix", "Po", 30)
print(len(person)) # Output: 3
```

## Dictionaries

```python
# Indexing
person = {
    "first_name": "Nix",
    "last
last_name": "Po",
    "age": 8
}
print(person["first_name"]) # Output: Nix

# Membership
person = {
    "first_name": "Nix",
    "last_name": "Po",
    "age": 8
}
print("first_name" in person) # Output: True
print("email" in person) # Output: False

# Length
person = {
    "first_name": "Nix",
    "last_name": "Po",
    "age": 8
}
print(len(person)) # Output: 3

# Adding key-value pairs
person = {
    "first_name": "Nix",
    "last_name": "Po",
    "age": 8
}
person["email"] = "nixpo@email.com"
print(person) # Output: {'first_name': 'Nix', 'last_name': 'Po', 'age': 8, 'email': 'nixpo@email.com'}

# Modifying values
person = {
    "first_name": "Nix",
    "last_name": "Po",
    "age": 8
}
person["first_name"] = "Dong"
print(person) # Output: {'first_name': 'Dong', 'last_name': 'Po', 'age': 8}

# Removing key-value pairs
person = {
    "first_name": "Dong",
    "last_name": "Po",
    "age": 8
}
del person["age"]
print(person) # Output: {'first_name': 'Dong', 'last_name': 'Po'}

```

This is just a brief introduction to Python programming. There are many more advanced topics and features in Python, but these basics should give you a good start.

If you want more exercises for basic Python Programming go through the `Intro to Programming` and `Python` courses on [Kaggle Learn](https://www.kaggle.com/learn).